$border-color: #e5e5e5;

* {
  font-family: 'Lato';
}

.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  height: 100vh;
  display: flex;
  border-right: 1px solid $border-color;
  flex-direction: column;
}

.nav-top {
  display: flex;
  width: 100%;
  height: 180px;
  //border: 1px solid $border-color;
  box-sizing: border-box;
}

.nav-top .brand {
  display: flex;
  margin: auto;
  padding: 24px;
  //font-size: 20px;
}

.brand img {
  background-color: black;
  height: 95px;
  width: 95px;
}

.nav-links {
  width: 100%;
  text-align: center;
  vertical-align: center;
  margin: 10vh auto;
  //border: 1px solid $border-color;
  background-color: white;

}

.nav-link {
  display: block;
  width: 100%;
  padding: 15px 0;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.nav-button {
  display: none;
}

@media all and (max-width: 991px) {
  .nav-bar {
    //border: 2px solid red;
    width: 100%;
    height: 80px;
    flex-direction: row;
    border-bottom: 1px solid $border-color;
    position: absolute;
  }

  .nav-top {
    height: auto;
    border: none;
    display: flex;
  }

  .brand {
    display: block;
    padding: 15px !important;
    margin: 0;
    -webkit-flex: 1;
  }

  .brand img {
    background-color: black;
    height: 50px;
    width: 50px;
  }

  .nav-links {
    //display: none;
    width: 100%;
    position: absolute;
    z-index: 9999;
    margin: 80px auto;
    border: 1px solid $border-color;
    box-sizing: border-box;
  }

  .nav-button {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
  }

  .bar1, .bar2, .bar3 {
    display: flex;
    width: 29px;
    height: 4px;
    background-color: black;
    margin: 3px;
    transition: 0.4s;
  }
}
