<div class="container">
  <div class="login-card">
    <div class="wrapper">
      <h4>Log in to your account</h4>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <label>Email</label>
          <input #email
            autofocus
            required
            id="email"
            type="email"
            formControlName="email"
            name="email"
            placeholder="Enter your Email" />
          <label>Password</label>
          <div class="password-wrapper">
            <input
              required
              id="password"
              [type]="this.passwordShow === false ? 'password' : 'text'"
              formControlName="password"
              name="password"
              placeholder="Enter your Email" />
            <span class="eye">
              <fa-icon
                [icon]="faEye"
                style="margin: auto 5px"
                (click)="passwordDisplay()">
              </fa-icon>
            </span>
          </div>
          <button type="submit">Log In</button>
        </fieldset>
      </form>
      <p>Don't have an account? <a routerLink="/sign-up" class="creation-link">Create one</a></p>
    </div>
  </div>
</div>
