<p>homepage works!</p>
<div style="margin-top: 8vh"></div>

<div class="wrapper">
  <div class="category">
    <div class="section-card">
      <div class="section-card-image img1"></div>
      <div class="section-card-text">
        <h2>Warhammer Underworlds: Shadespire</h2>

        <p>
        <i class="fas fa-clock"></i>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum lorem sit amet orci malesuada, a
          accumsan tortor tincidunt. Pellentesque tempor faucibus eros, sollicitudin finibus lectus commodo vel. Sed aliquam molestie ipsum. Sed et sapien non odio molestie semper. Ut.
        </p>
      </div>
    </div>
  </div>

  <div class="category">
    <div class="section-card">
      <div class="section-card-image img2 img-left"></div>
      <div class="section-card-text">
        <h2>Warhammer Age of Sigmar</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum lorem sit amet orci malesuada, a
          accumsan tortor tincidunt. Pellentesque tempor faucibus eros, sollicitudin finibus lectus commodo vel. Sed aliquam molestie ipsum. Sed et sapien non odio molestie semper. Ut.
        </p>
      </div>
    </div>
  </div>
</div>
