<div class="container">
<!--  <p>auth works!</p>-->
  <div class="login-card">
    <div class="wrapper">
      <h4>Log in to your account</h4>
      <form action="">

        <fieldset>
          <label for="">Email</label>
          <input id="email" type="email" placeholder="Enter your Email" />

          <label for="">Password</label>
          <div class="password-wrapper">
            <input
              id="password"
            [type]="this.passwordShow === false ? 'password' : 'text'"
              placeholder="Enter your Email" />
            <span class="eye">
              <fa-icon
                [icon]="faEye"
                style="margin: auto 5px"
                (click)="passwordDisplay()"></fa-icon>
            </span>

          </div>

        <button type="button">Log In</button>
        </fieldset>


      </form>
      <p>Don't have an account? <a class="creation-link">Create one</a></p>

<!--      <div>-->
<!--        <fa-icon [icon]="faEnvelope"></fa-icon>-->
<!--        <fa-icon [icon]="faEye"></fa-icon>-->
<!--      </div>-->
    </div>
  </div>
</div>
